Django>=3.0
psycopg2-binary
psycopg2
python-dotenv==0.21.1
dj-database-url
Pillow
django-crispy-forms
whitenoise==6.4.0
gunicorn==20.1.0
openpyxl
google-cloud-storage==2.12.0
google-auth 
google-auth-oauthlib 
google-auth-httplib2
django-storages
xlrd
crispy-bootstrap4
google-api-core==2.11.1
google-api-python-client==2.97.0
google-auth
google-auth-httplib2
google-auth-oauthlib
httplib2
oauth2client
oauthlib
reportlab
djangorestframework
django-cors-headers