{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
<div class="btn-group flex-container">
{% block navigation %}
    <nav class="navigation">
        {% comment %} 
        <a class="btn btn-outline-secondary" role="button" href="{% url 'delivery_stock:home' %}" title="Do główną">
            <img src="{% static '/img/house.svg' %}" alt="Do główną">
        </a>
        <a class="btn btn-outline-secondary" role="button" href="{% url 'delivery_stock:select_receprion' %}" title="Wróć">
            <img src="{% static '/img/arrow-bend-up-left.svg' %}" alt="Wróć">
        </a>
        {% endcomment %}
    </nav>
{% endblock %}

{% block content %}
<form method="post" action="{% url 'delivery_stock:add_cont_line' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="hidden" name="delivery_id" id="delivery_id" value={{ delivery_id }} required>
    <input type="hidden" name="delivery_cont_id" id="delivery_cont_id" value={{ delivery_cont_id }} required>

    <div class="input-group mb-3">
        <select id="tape_of_unit" name="tape_of_unit" class="form-select" required>
            <option disabled selected value="">Jednostka*</option>
            {% for unit in recive_units %}
                <option value="{{ unit }}">{{ unit }}</option>
            {% endfor %}
        </select> 
    </div>

    <div class="input-group mb-3">
        <select id="reasones" name="reasones" class="form-select" onchange="toggleEANField()" required>
            <option disabled selected value="">Wybierz powód*</option>
            {% for reasone in reasones %}
                <option value="{{ reasone.name }}">{{ reasone.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="input-group mb-3" id="ean-field">
        <span class="input-group-text" style="width: 35%;">EAN: </span>
        <input type="number" style="width: 65%;" name="ean" required>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" style="width: 35%;">QTY*: </span>
        <input type="number" style="width: 65%;" name="qty_unit" required>
    </div>
    
    <div class="mb-3" id="imag-fields">
        <input name="images_url_1" class="form-control" type="file" id="formFileMultiple">
        <button type="button" onclick="addImageField()" style="width: 100%;">+</button>
    </div>

    <div class="input-group mb-3" id="extra-comment-field">
        <span class="input-group-text" style="width: 35%;">Opis: </span>
        <input name="alternative_product_name" type="text" class="form-control" placeholder="Alternatywna nazwa produktu:">
    </div>

    <input class="btn btn-secondary" type="submit" value="Submit" style="width: 100%;"> 
</form>

{% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
    const eanInput = document.querySelector('input[name="ean"]');
    const alternativeProductName = document.querySelector('input[name="alternative_product_name"]');
    const formGroup = alternativeProductName.closest('.input-group');

    // Сховати поле alternative_product_name на початку
    formGroup.style.display = 'flex';
    alternativeProductName.required = true;

    eanInput.addEventListener('input', function () {
        const eanValue = eanInput.value.trim();

        if (eanValue) {
            // Формування URL для AJAX-запиту
            const url = "/delivery-stock/api/supplier-sku/" + eanValue + "/";

            const xhr = new XMLHttpRequest();
            xhr.open("GET", url, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        // SKU існує, приховуємо alternative_product_name
                        formGroup.style.display = 'none';
                        alternativeProductName.required = false;
                    } else {
                        // SKU не знайдено, показуємо alternative_product_name і робимо обов'язковим
                        formGroup.style.display = 'flex';
                        alternativeProductName.required = true;
                    }
                }
            };
            xhr.send();
        } else {
            // Якщо поле EAN порожнє, показуємо alternative_product_name і робимо обов'язковим
            formGroup.style.display = 'flex';
            alternativeProductName.required = true;
        }
    });
});


    function addImageField(){
        const imageFieldContainer = document.getElementById('imag-fields');
        const fieldCount = imageFieldContainer.childElementCount;
        
        const newImageField = document.createElement('div');
        newImageField.className = 'mb-3';

        const fileInput = document.createElement('input');
        fileInput.type = 'file';
        fileInput.className = "form-control";
        fileInput.name = `images_url_${fieldCount}`; // Динамічне ім'я для нових полів
        fileInput.style.width = '100%';
        fileInput.style.marginTop = "15px";

        // Додати нове поле перед кнопкою
        imageFieldContainer.insertBefore(newImageField, imageFieldContainer.lastElementChild);
        newImageField.appendChild(fileInput);
    }
</script>

{% endblock %}
