{% extends "base.html" %}
{% load static %}

{% block navigation %}
    <nav class="navigation">
        <a class="btn btn-secondary" role="button" href="{% url 'delivery_stock:home' %}">
            <img src="{% static '/img/house.svg' %}" alt="Do główną">
        </a>
        <a class="btn btn-outline-secondary" role="button" href="{% url 'delivery_stock:location_list' %}">
            <img src="{% static '/img/arrow-bend-up-left.svg' %}" alt="Wróć">
        </a>
    </nav>
{% endblock %}

{% block content %}
<form method="post" action="{% url 'delivery_stock:location_create' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="input-group mb-3" type="number">
        <span class="input-group-text" style="width: 35%;">Name: </span>
        <input type="text" style="width: 65%;" name="location_name" value="{{ location.name }}" required>
    </div>

    <select name="work_zone" class="form-select" required>
        <option  disabled selected value="" >Wybierz rodzaj lokalizacji</option>
        {% for code, display_name in WORKZON_CHOICES %}
            <option value="{{ code }}">{{ display_name }}</option>
        {% endfor %}
    </select>
</br>

    <button type="submit" style="width: 100%;">Create</button>
</form>

{% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
{% endif %}

{% endblock %}