{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block navigation %}
    <nav class="navigation">
        <a class="btn btn-secondary" role="button" href="{% url 'delivery_stock:home' %}">
            <img src="{% static '/img/house.svg' %}" alt="Do główną">
        </a>
        <a class="btn btn-outline-secondary" role="button" href="{% url 'delivery_stock:sku_list' %}">
            <img src="{% static '/img/arrow-bend-up-left.svg' %}" alt="Wróć">
        </a>
        <form action="{% url 'delivery_stock:sku_update' pk=suplier_sku.id %}" method="post"  style="display: inline;">
            {% csrf_token %}
            <input type="hidden", name="delete", value="{{ suplier_sku.id }}" , id="delete">
            <button type="submit" class="btn btn-outline-secondary" title="Delete"> 
                <img src="{% static '/img/trash.svg' %}" alt="Delete">
            </button>
        </form>
    </nav>
    <br>
{% endblock %}

{% block content %}
<form method="post" action="{% url 'delivery_stock:sku_update'  pk=suplier_sku.id %}" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="input-group mb-3" type="number">
        <span class="input-group-text" style="width: 35%;">SKU: </span>
        <input type="number" style="width: 65%;" name="sku" value="{{ suplier_sku.sku }}" required>
    </div>
    <div class="input-group mb-3" type="number">
        <span class="input-group-text" style="width: 35%;">Barcode: </span>
        <input type="text" style="width: 65%;" name="barcode" value="{{ suplier_sku.barcode }}" required>
    </div>
    <div class="input-group mb-3" type="number">
        <span class="input-group-text" style="width: 35%;">Deskription: </span>
        <input type="text" style="width: 65%;" name="deskription" value="{{ suplier_sku.deskription }}" required>
    </div>



    <button type="submit" style="width: 100%;">Create</button>
</form>

{% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
{% endif %}

{% endblock %}